<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Todos</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
  </head>
  <body id="page-todos">

    <h1>Todos</h1>

    <form id="new-todo-form">
      <input type="text" name="title" placeholder="input a title for new todo"/>
    </form>

    <ul id="todos" class="todos" th:remove="all-but-first">
      <li class="todo completed" data-todo-id="1"
          th:each="todo : ${todos}" th:class="todo" th:classappend="${todo.complete} ? 'completed'" th:attr="data-todo-id=${todo.id}">
        <input name="complete" type="checkbox" checked="checked" th:checked="${todo.complete}"/>
        <label th:text="${todo.title}">Task 1</label>
        <button class="delete">×</button>
      </li>
      <li class="todo" data-todo-id="2">
        <input name="complete" type="checkbox"/>
        <label>Task 2</label>
        <button class="delete">×</button>
      </li>
      <li class="todo" data-todo-id="3">
        <input name="complete" type="checkbox"/>
        <label>Task 3</label>
        <button class="delete">×</button>
      </li>
    </ul>

    <script src="../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
