<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Todos</title>
  </head>
  <body>

    <h1>Todos</h1>

    <form id="new-todo-form" th:action="@{/todos}" method="post">
      <input type="text" name="title" placeholder="input a title for new todo"/>
    </form>

    <ul th:remove="all-but-first">
      <li th:each="todo : ${todos}">
        <input name="complete" type="checkbox" checked="checked" th:checked="${todo.complete}"/>
        <label th:text="${todo.title}">Task 1</label>
        <button>×</button>
      </li>
      <li>
        <input name="complete" type="checkbox"/>
        <label>Task 2</label>
        <button>×</button>
      </li>
      <li>
        <input name="complete" type="checkbox"/>
        <label>Task 3</label>
        <button>×</button>
      </li>
    </ul>

    <script src="../static/bundle.js" th:src="@{/bundle.js}"></script>
  </body>
</html>
